.background-theme{
    height:auto;
    width: 100%;
    position: absolute;
    
}
.background-top{
    height: 300px;
    background-color: rgb(120, 167, 120);
}
.background-bottom{
    height: 2000px;
    background-color: rgb(216, 215, 215);
   
}
body{
    margin: 0;
    padding: 0;
}
.main-container{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.nav-bar{
    height: 300px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.grid-left{
    padding-top: 20px;
    color: white;
    width: 50%;
}
.grid-right{
    float: right;
    margin-top: -60px;
}
ul{
    list-style: none;
}
.grid-right li{
    display: inline;
}
.profile-container{
    background-color: white;
    height: 315px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -120px;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
}
.display-image{
  overflow: hidden;
}
.display-image img{ 
  width: 100%;
} 
.main-grid
  {
    display: grid;
    grid-template-columns: 20px 100px;
    grid-column-gap: 80px;
  }
.details-top{
  padding-left: 30px;
}
.details-icons{
  background-color: rgb(120, 167, 120);
}
h1, p{
      font-size: justify;
  }
hr{
      width: 90%;
      margin-right: 10%;
  }
.title{
      font-weight: bold;
  }
  
  .icon-space{
      padding: 20px 25px 20px;
  }

.heading{
    padding-top: 60px;
    text-align: center;
    color: rgb(120, 167, 120);
}
.skill{
  
  grid-template-columns: 50% 50%;
  padding: 20px 20px 20px 20px;
}
.container-skill{
  height: 300px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.w3-blue
{
  
  background-color: rgb(120, 167, 120);
}
.container-education{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  padding-top: 60px;
}


* {
    box-sizing: border-box;
  }
  
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 800px;
    margin: 20 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: white;
    top: 10px;
    bottom: 0;
    left: 50%;
    margin-left: 0px;
  }
  
  /* Container around content */
  .container {
    padding: 16px 15px;
    position: relative;
    background-color: inherit;
    width: 40%;
    height: 12%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -4px;
    background-color: rgb(120, 167, 120);
    top: 35px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 80px;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    right: 6px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    left: 7px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -4px;
  }
  
  /* The actual content */
  .content {
    padding: 5px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
  h4{
    color: rgb(120, 167, 120);
    padding-top: -10px;
  }
  h5{
    margin-top: -2%;
  }
    
}