.background-theme{
    height:100% ;
    width: 100%;
    position: absolute;
}
.background-top{
    height: 40%;
    background-color: rgb(120, 167, 120);
}
.background-bottom{



    
    background-color: rgb(216, 215, 215);
    
    height: 60%;

}
body{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 100%;
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
.nav-bar{
    height: 40%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.grid-left{
    padding-top: 20px;
    color: white;
    width: 50%;
}
.grid-right{
    float: right;
    margin-top: -60px;
}
ul{
    list-style: none;
}
.grid-right li{
    display: inline;
}
.profile-container{
    background-color: white;
    height: 50%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -120px;
}
.profile-container .column {
    float: left;
    width: 50%;
  }
  
  .profile-container .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column img{
      width: 80%;
      height: 100%;
  }
  h1, p{
      font-size: justify;
  }
  hr{
      width: 90%;
      margin-right: 10%;
  }
  .column .col-right{
      height: 100%;
  }
 
.row-third{
    height: 25%;
    width: 120%;
    margin-left: -20%;
    background-color: rgb(120, 167, 120);
   
 }
.row .row-first{
    margin-left: -10%;
}
.row .row-second{
    margin-left: -10%;
}
  .icon-space{
      padding: 20px 25px 20px;
  }
  .main-grid
  {
    margin-left: -10%;
    display: grid;
    grid-template-columns: 20px 100px;
    grid-column-gap: 60px;
  }
.grid-child

  
  .main-grid-icon
  {
    margin-left: -10%;
  }
 
.container-education{
    width: 70%;
    height: 30%;
    margin-left: 15%;
    margin-right: 15%;
}
